.pageNav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 2.5rem;
  font-weight: 300;
  font-size: 25px;
  transition: all 200ms;
}

.paginationItems {
  padding: 0;
  line-height: 0px;
  cursor: pointer;
  background-color: rgb(0, 140, 255);
  /* font: inherit; */
  font-size: 19px;

  color: white;
  border-radius: 50%;
  border: none;

  height: inherit;
  width: 2.5rem;
  /* text-align: center; */
  transition: background-color 100ms, scale 250ms;
}

.paginationItems:focus,
.paginationItems:hover {
  outline: none;
  /* background-color: rgb(45, 160, 253); */

  background-color: rgb(40, 158, 255);
  scale: 1.05;
}

.paginationItems:active {
  scale: 0.95;
}

.first-page:hover,
.previous-page:hover,
.next-page:hover,
.last-page:hover {
  color: white;
}

.paginationItems:disabled {
  /* background-color: rgb(174, 186, 196); */
  background-color: #f0f0f0;
  cursor: default;
  color: rgb(131, 131, 131);
}

.paginationItems:hover,
.paginationItems:focus,
.paginationItems:active {
  scale: 1;
}

@media only screen and (max-width: 1000px) {
  .pageNav {
    margin-left: 7rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  /* .pageNav {
    margin-left: 7rem;
  } */
}
