.mainContainer {
  height: 100vh;
  width: 100%;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: scroll; */
}

.detailsContainer {
  /* position: relative; */
  /* position: absolute; */
  /* top: 5rem; */
  margin: auto;
  width: 90%;
  /* min-width: 640px; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;

  /* justify-content: flex-start; */
}

@media only screen and (max-height: 1000px) {
  /* .detailsContainer {
    position: absolute;
    top: 0;
   left: auto;
    min-height: 90vh;
    min-height: 810px;
  } 
  */
}

@media only screen and (max-width: 1000px) {
  .detailsContainer {
    width: 97%;
  }
}

@media only screen and (max-width: 920px) {
  .detailsContainer {
    width: 900px;
    /* position: absolute; */
    left: 20px;
    /* width: ; */
  }

  .button-del {
    position: absolute;
    /* position: absolute; */
    left: 0;
  }
}
