.actionsContainer {
  text-align: left;
  margin-top: 2rem;
}

.actions {
  font: inherit;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  margin-left: 1rem;
  padding: 10px 17px;
  transition: scale 250ms;
}

.actions:hover,
.actions:focus {
  /* outline: none; */
  background-color: rgb(255, 25, 25);
  color: white;
  scale: 1.05;
}

.actions:active {
  scale: 0.95;
}

.button-alt {
  color: rgb(255, 25, 25);
  border: 2px solid rgb(255, 25, 25);
  background-color: transparent;

  /* background-color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  color: white; */
}

.primary {
  background-color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  color: white;
}

.primary:hover,
.primary:focus {
  background-color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  color: white;
}
/* 
.actions .button {
  background-color: transparent;
  color: black;
} */
