.mainContainer {
  height: 100vh;
  /* width: 95%; */
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer p {
  margin: 40vh auto;
}

.detailsContainer {
  /* position: relative; */
  position: absolute;
  top: 5rem;
  width: 90%;
  /* min-width: 640px; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.7rem;

  /* justify-content: flex-start; */
}

.footer {
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;

  /* justify-content: center; */
}

.button-del {
  position: absolute;
  left: 0;
  /* left: 5%; */
  cursor: pointer;
  /* padding: 7px 10px; */
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  border: 2px solid rgb(255, 25, 25);
  border-radius: 20px;
  color: rgb(255, 25, 25);
}

.button-del:hover,
.button-del:focus {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 25, 25);
  scale: 1.05;
}

.button-del:active {
  scale: 0.95;
}

/* @media only screen and (max-width: 800px) {
  .button-del {
    position: initial; */
/* left: auto; */
/* cursor: pointer;
    padding: 7px 10px;
    background-color: transparent;
    border: 2px solid rgb(255, 25, 25);
    border-radius: 20px;
    color: rgb(255, 25, 25); */
/* }
} */

@media only screen and (max-height: 1000px) {
  .detailsContainer {
    position: absolute;
    /* top: 0; */
    /* left: auto; */
    /* min-height: 90vh; */
    min-height: 810px;
  }
}

@media only screen and (max-width: 850px) {
  .detailsContainer {
    width: 800px;
    /* position: absolute; */
    left: 20px;
    /* width: ; */
  }

  .button-del {
    position: absolute;
    /* position: absolute; */
    left: 0;
  }
}
