.form {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  min-width: 750px;
}

.actions {
  width: 50%;
  padding: 0.7rem;
  border: 2px solid #d8d8d8;
  border-radius: 50rem;
  font-size: 18px;
  /* box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1); */
  transition: all 250ms;
}

.actions:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.11),
    -2px -2px 15px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 1000px) {
  .actions {
    width: 70%;
  }
}
