.button-del {
  cursor: pointer;
  padding: 7px 10px;
  background-color: transparent;
  border: 2px solid rgb(255, 25, 25);
  border-radius: 20px;
  color: rgb(255, 25, 25);
}

.button-del:hover,
.button-del:focus {
  color: white;
  background-color: rgb(255, 25, 25);
  scale: 1.05;
}

.button-del:active {
  scale: 0.95;
}

.defaultBtn {
  transition: all 250ms;
  font-weight: 500;
}

.disabledBtn {
  border-color: rgb(228, 227, 227);
  color: #8f8f8f;
  background-color: rgb(228, 227, 227);
}

.disabledBtn:hover,
.disabledBtn:active {
  color: #8f8f8f;
  background-color: rgb(228, 227, 227);
  scale: 1;
}
